{% extends 'base.html.twig' %}
{% block title %}Accessibilité{% endblock %}
{% block body %}
<div class="legal-container">
<h1>Accessibilité</h1>
<p>Cette page décrit l'accessibilité du site conformément à la réglementation française et européenne. Merci de compléter avec votre déclaration d'accessibilité.</p>
<ul>
  <li>Niveau d'accessibilité</li>
  <li>Limitations connues</li>
  <li>Contact pour les questions d'accessibilité</li>
</ul>
</div>
{% endblock %} 