{% extends 'base.html.twig' %}
{% block title %}Politique de confidentialité{% endblock %}
{% block body %}
<div class="legal-container">
<h1>Politique de confidentialité</h1>
<p>Cette page explique comment vos données personnelles sont collectées et traitées conformément au RGPD et à la législation française. Merci de compléter avec les pratiques de votre association.</p>
<ul>
  <li>Données collectées</li>
  <li>Finalité du traitement</li>
  <li>Durée de conservation</li>
  <li>Droits des personnes concernées</li>
  <li>Contact pour la protection des données</li>
</ul>
</div>
{% endblock %} 