{% extends 'base.html.twig' %}
{% block title %}Gestion des cookies{% endblock %}
{% block body %}
<div class="legal-container">
<h1>Gestion des cookies</h1>
<p>Cette page explique l'utilisation des cookies sur ce site, conformément à la législation française et européenne. Merci de compléter avec votre politique de cookies.</p>
<ul>
  <li>Types de cookies utilisés</li>
  <li>Finalité des cookies</li>
  <li>Comment refuser ou supprimer les cookies</li>
</ul>
</div>
{% endblock %} 