{% extends 'base.html.twig' %}
{% block title %}Mentions légales - CDJ Villereau{% endblock %}
{% block body %}
<div class="legal-container">
<h1>Mentions légales</h1>
<p>Cette page contient les mentions légales requises par la loi française pour les associations. Merci de compléter avec les informations de votre association.</p>
<ul>
  <li>Nom de l'association</li>
  <li>Représentant légal</li>
  <li>Adresse du siège social</li>
  <li>Numéro SIRET</li>
  <li>Directeur de la publication</li>
  <li>Hébergeur du site</li>
</ul>
</div>
{% endblock %} 