{% extends 'base.html.twig' %}

{% block title %}Nos partenaires - CDJ Villereau{% endblock %}

{% block body %}
<div class="rencontres-section">
    <div class="mon-espace-container">
        <div class="mon-espace-row">
            <div class="mon-espace-col">
                <div class="mon-espace-header">
                    <h1 class="mon-espace-title">Nos partenaires</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
