{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: #f0f0f0;
    }

    h1 {
        font-weight: bold;
        color: #000;
        text-align: center;
    }
    
</style>

<div class="wrapper">
    <h1>Le CDJ Villereau vous souhaite la bienvenue</h1>
    <p>Villereau est une ville de 10000 habitants située dans le département de la Loire.</p>
    <p>Villereau est une ville de 10000 habitants située dans le département de la Loire.</p>
</div>

</div>
{% endblock %}
