{% extends 'base.html.twig' %}

{% block title %}Contact - CDJ Villereau{% endblock %}

{% block body %}
<div class="contact-wrapper">
    <h1>Nous contacter</h1>
    <p>Vous pouvez nous contacter via le formulaire ci-dessous ou par email à l'adresse <a href="mailto:contact@villereau-tt.fr">contact@villereau-tt.fr</a>.</p>
    <p>Vous pouvez également nous contacter par téléphone au <a href="tel">06 00 00 00 00</a>.</p>
    <p>Nous sommes à votre écoute pour toute question ou demande de renseignements.</p>
</div>
{% endblock %}
