{% extends 'base.html.twig' %}

{% block title %}Horaires d'entraînement - CDJ Villereau{% endblock %}

{% block body %}

<div class="wrapper">
    <h1 class="main-title">Entraînement</h1>

    <div class="text-training">
        <h2>🏓 Des entraînements encadrés par des joueurs expérimentés</h2>
        <p>Vous souhaitez progresser rapidement, affiner votre technique ou simplement prendre encore plus de plaisir à 
        jouer ? Nos séances d'entraînement sont faites pour vous ! Encadrées par des joueurs confirmés du club, 
        ces sessions sont ouvertes à tous les niveaux. Que vous soyez débutant ou pongiste averti, 
        vous bénéficierez de conseils personnalisés, d'exercices variés et d'une ambiance conviviale, 
        propice à la progression. Nos encadrants, passionnés et expérimentés, partagent leur savoir-faire et 
        leur vision du jeu pour vous aider à franchir un cap, tout en cultivant le plaisir de jouer.</p>
        
        <p>Rejoignez-nous à l'entraînement et découvrez une nouvelle manière de vivre le ping !</p>
    </div>

    <p class="intro-text">Retrouvez ci-dessous tous nos créneaux d'entraînement. 
    Que vous soyez jeune ou adulte, débutant ou confirmé, 
    vous trouverez forcément un créneau qui vous convient !</p>

    <div class="cards-container">
        <div class="card-custom">
            <h2>Nos créneaux d'entraînement</h2>
            <ul>
                <li><b>Lundi</b> : 19h30–21h00 (adultes & jeunes)</li>
                <li><b>Mercredi</b> :
                    <ul>
                        <li>17h00–19h15 (jeunes)</li>
                        <li>19h15–21h30 (adultes)</li>
                    </ul>
                </li>
                <li><b>Vendredi</b> : 18h30–22h00 (adultes & jeunes)</li>
                <li><b>Samedi</b> : 10h00–11h30 (jeunes)</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
